<h1 id="message">The Cafe</h1>

<div>
  <img src="https://i.pinimg.com/originals/3c/65/c3/3c65c3aafb7249dbf5e5360c3b95e293.gif" alt="coffee" height="340" width="340">
</div>

<div class="menu">
  <%= link_to '<button type="button">Drink Menu</button>'.html_safe, drinks_path %><br>
<br>
  <%= link_to '<button type="button">Our Customers</button>'.html_safe, customers_path %><br>
  <br>
  <%= link_to '<button type="button">Make Order</button>'.html_safe, new_order_path %><br>
</div>
